$couleurMarronNoir: #151515;
$couleurTop: #787b7bd9;
$couleurBeige: rgba(156, 159, 159, 0.85);
$couleurBeige2: #979999;
$couleurGrisFonce: #2a3333;
$couleurBlanc: #ffffff;
$couleurRose: #a4229a;
$couleurBleu: #2dececad;
$couleurMenu: #e9f2ffe0;
$couleurMain: #e9f2ffe0;
$couleurBody: #e9f2ffe0;